################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TransactionWebApi/TransactionWebApi/bin/
/TransactionWebApi/TransactionWebApi/obj/
/TransactionWebApi/TransactionWebApi.Tests/obj/
/TransactionWebApi/TransactionWebApi.Tests/bin/
/.vs/
