################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TransactionWebApi/TransactionWebApi/bin/
/TransactionWebApi/TransactionWebApi/obj/
